# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Production
/build
/dist

# Miscellaneous
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local .env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Test results
/coverage
/test-results
/playwright-report
/test-results.xml

# Prisma
/prisma/migrations
!/prisma/migrations/.gitkeep

# Uploads
/public/uploads
/uploads
/media
/temp
/tmp

# Cache
.eslintcache
.stylelintcache
.tsbuildinfo
.next/cache

# Vercel
.vercel